.header-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    user-select: none;

    .logo{
        padding:10px;
    }

    .navigation{
        display: flex;

        & img{
            padding-left: 20px;
            cursor: pointer;
        }
        
        & div{
            padding:10px;
            cursor: pointer;
        }

    }
}